<%
	const getLink = (linkKey) => {
		return `/${language.locale}/${links[linkKey]}`;
	};

	const localizedPartial = (path) => {
		return partial(`${language.locale}/${path}`)
	};
_%>
<aside class="hero" data-bs-theme="dark">
	<div class="pattern">
		<header>
			<nav class="navbar navbar-expand-sm" data-bs-theme="dark">
				<div class="container">
					<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-center">
						<ul class="navbar-nav">
							<%- localizedPartial("_navItems"); _%>
							<%- partial("_languageSelector") %>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<div class="container fs-3">
			<div class="row col-cols">
				<div class="text-center text-lg-start col-lg-8 align-self-center hero-headline">
					<h1 class="display-1 fw-bolder my-3">
						<span class="text-nowrap">Camila Balboa</span>
					</h1>
					<%- localizedPartial("_heroText"); _%>
					<p class="my-4">
						<a class="btn btn-primary btn-lg" href="<%= getLink("quote"); _%>"><%= language.get_quote %></a>
					</p>
				</div>
				<div class="text-lg-end col-lg-4 align-self-end">
					<picture>
						<source media="(max-width: 400px)" fetchpriority="high" srcset="/images/profile-400.webp 400w">
						<source media="(max-width: 600px)" fetchpriority="high" srcset="/images/profile-600.webp 600w">
						<source media="(max-width: 1200px)" fetchpriority="high" srcset="/images/profile-1200.webp 1200w">
						<source media="(max-width: 2400px)" fetchpriority="high" srcset="/images/profile-2400.webp 2400w">
						<img src="/images/profile-1200.png" fetchpriority="high" alt="Camila Balboa" class="img-fluid">
					</picture>
				</div>
			</div>
		</div>
	</div>
</aside>

<div class="section-wrapper">
	<section class="container my-5">
		<div class="row">
			<h2 class="display-4"><%= language.section_about %></h2>
		</div>
		<div class="row">
			<%- localizedPartial("_about"); _%>
		</div>
	</section>
</div>

<div class="section-wrapper">
	<section class="container my-5">
		<div class="row">
			<h2 class="display-4"><%= language.section_products %></h2>
			<p><%= language.section_products_description %></p>
		</div>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-3 mt-3">
			<div class="col"><div class="card h-100">
				<div class="card-body">
					<div class="text-center" style="font-size: 3rem;">
						<svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M64 112C64 85.5 85.5 64 112 64L160 64C177.7 64 192 78.3 192 96C192 113.7 177.7 128 160 128L128 128L128 256C128 309 171 352 224 352C277 352 320 309 320 256L320 128L288 128C270.3 128 256 113.7 256 96C256 78.3 270.3 64 288 64L336 64C362.5 64 384 85.5 384 112L384 256C384 333.4 329 398 256 412.8L256 432C256 493.9 306.1 544 368 544C429.9 544 480 493.9 480 432L480 346.5C442.7 333.3 416 297.8 416 256C416 203 459 160 512 160C565 160 608 203 608 256C608 297.8 581.3 333.4 544 346.5L544 432C544 529.2 465.2 608 368 608C270.8 608 192 529.2 192 432L192 412.8C119 398 64 333.4 64 256L64 112zM512 288C529.7 288 544 273.7 544 256C544 238.3 529.7 224 512 224C494.3 224 480 238.3 480 256C480 273.7 494.3 288 512 288z"/></svg>
					</div>
					<h3 class="card-title text-center"><%= language.product_health %></h3>
					<p class="card-text text-muted fs-6"><%= language.product_health_description %></p>
				</div>
			</div></div>

			<div class="col"><div class="card h-100">
				<div class="card-body">
					<div class="text-center" style="font-size: 3rem;">
						<svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M320 171.9L305 151.1C280 116.5 239.9 96 197.1 96C123.6 96 64 155.6 64 229.1L64 231.7C64 255.3 70.2 279.7 80.6 304L186.6 304C189.8 304 192.7 302.1 194 299.1L225.8 222.8C229.5 214 238.1 208.2 247.6 208C257.1 207.8 265.9 213.4 269.8 222.1L321.1 336L362.5 253.2C366.6 245.1 374.9 239.9 384 239.9C393.1 239.9 401.4 245 405.5 253.2L428.7 299.5C430.1 302.2 432.8 303.9 435.9 303.9L559.5 303.9C570 279.6 576.1 255.2 576.1 231.6L576.1 229C576 155.6 516.4 96 442.9 96C400.2 96 360 116.5 335 151.1L320 171.8zM533.6 352L435.8 352C414.6 352 395.2 340 385.7 321L384 317.6L341.5 402.7C337.4 411 328.8 416.2 319.5 416C310.2 415.8 301.9 410.3 298.1 401.9L248.8 292.4L238.3 317.6C229.6 338.5 209.2 352.1 186.6 352.1L106.4 352.1C153.6 425.9 229.4 493.8 276.8 530C289.2 539.4 304.4 544.1 319.9 544.1C335.4 544.1 350.7 539.5 363 530C410.6 493.7 486.4 425.8 533.6 352z"/></svg>
					</div>
					<h3 class="card-title text-center"><%= language.product_life %></h3>
					<p class="card-text text-muted fs-6"><%= language.product_life_description %></p>
				</div>
			</div></div>

			<div class="col"><div class="card h-100">
				<div class="card-body">
					<div class="text-center" style="font-size: 3rem;">
						<svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M160 96C124.7 96 96 124.7 96 160L96 480C96 515.3 124.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 160C544 124.7 515.3 96 480 96L160 96zM296 408L296 344L232 344C218.7 344 208 333.3 208 320C208 306.7 218.7 296 232 296L296 296L296 232C296 218.7 306.7 208 320 208C333.3 208 344 218.7 344 232L344 296L408 296C421.3 296 432 306.7 432 320C432 333.3 421.3 344 408 344L344 344L344 408C344 421.3 333.3 432 320 432C306.7 432 296 421.3 296 408z"/></svg>
					</div>
					<h3 class="card-title text-center"><%= language.product_supplemental %></h3>
					<p class="card-text text-muted fs-6"><%= language.product_supplemental_description %></p>
				</div>
			</div></div>

			<div class="col"><div class="card h-100">
				<div class="card-body">
					<div class="text-center" style="font-size: 3rem;">
						<svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
					</div>
					<h3 class="card-title text-center"><%= language.product_business %></h3>
					<p class="card-text text-muted fs-6"><%= language.product_business_description %></p>
				</div>
			</div></div>
		</div>
		<div class="row">
			<div class="col text-center mt-5">
				<a class="btn btn-primary" href="<%= getLink("quote"); _%>"><%= language.get_quote %></a>
			</div>
		</div>
	</section>
</div>

<div class="section-wrapper">
	<section class="container my-5">
		<div class="row">
			<h2 class="display-4"><%= language.licenses %></h2>
			<%- localizedPartial("_licenses"); _%>
		</div>
		<div class="row">
			<ul class="badge-list">
				<li>Alaska</li>
				<li>Arizona</li>
				<li>California</li>
				<li>Florida</li>
				<li>Kentucky</li>
				<li>Louisiana</li>
				<li>Minnesota</li>
				<li>Mississippi</li>
				<li>Missouri</li>
				<li>New Mexico</li>
				<li>North Carolina</li>
				<li>Ohio</li>
				<li>Pennsylvania</li>
				<li>Utah</li>
			</ul>
		</div>
	</section>
</div>

<div class="section-wrapper">
	<div class="container my-5">
		<h2 class="display-4"><%= language.section_faqs %></h2>
		<%- localizedPartial("_faq"); _%>
	</div>
</div>

<%- partial("_footer") %>
