<!doctype html>
<html lang="<%= partial("_locale") %>">
	<head>
		<%- partial("_analytics"); _%>
		<%- partial("_metadata"); %>
		<title><%= partial("_snippets/title"); %></title>
		<%- partial("_head_import"); %>
	</head>
	<body>
		<%- yield %>
	</body>
</html>
