<!doctype html>
<html lang="<%= partial("_locale") %>">
	<head>
		<%- partial("_analytics"); _%>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= partial("_title"); %></title>

		<%- partial("_metadata"); %>
		<%- partial("_head_import"); %>
	</head>
	<body>
		<%- yield %>
	</body>
</html>
